In [2]:
!pip install pandas

Requirement already satisfied: pandas in e:\anaconda\envs\py313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in e:\anaconda\envs\py313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\anaconda\envs\py313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\envs\py313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in e:\anaconda\envs\py313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in e:\anaconda\envs\py313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import numpy as np
import pandas as pd

In [4]:
star_collection = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Stars.csv')

In [5]:
print(star_collection.describe())

       Temperature (K)  Luminosity (L/Lo)  Radius (R/Ro)  \
count       240.000000         240.000000     240.000000
mean      10497.462500      107188.361635     237.157781
std        9552.425037      179432.244940     517.155763
min        1939.000000           0.000080       0.008400
25%        3344.250000           0.000865       0.102750
50%        5776.000000           0.070500       0.762500
75%       15055.500000      198050.000000      42.750000
max       40000.000000      849420.000000    1948.500000

       Absolute magnitude (Mv)   Star type
count               240.000000  240.000000
mean                  4.382396    2.500000
std                  10.532512    1.711394
min                 -11.920000    0.000000
25%                  -6.232500    1.000000
50%                   8.313000    2.500000
75%                  13.697500    4.000000
max                  20.060000    5.000000

In [6]:
print(star_collection.head())

   Temperature (K)  Luminosity (L/Lo)  Radius (R/Ro)  Absolute magnitude (Mv)  \
0             3068           0.002400         0.1700                    16.12
1             3042           0.000500         0.1542                    16.60
2             2600           0.000300         0.1020                    18.70
3             2800           0.000200         0.1600                    16.65
4             1939           0.000138         0.1030                    20.06

   Star type Star category Star color Spectral Class
0          0   Brown Dwarf        Red              M
1          0   Brown Dwarf        Red              M
2          0   Brown Dwarf        Red              M
3          0   Brown Dwarf        Red              M
4          0   Brown Dwarf        Red              M

In [7]:
star_collection.columns

Index(['Temperature (K)', 'Luminosity (L/Lo)', 'Radius (R/Ro)',
       'Absolute magnitude (Mv)', 'Star type', 'Star category', 'Star color',
       'Spectral Class'],
      dtype='object')

In [8]:
star_collection.index

RangeIndex(start=0, stop=240, step=1)

In [9]:
temps_lum = star_collection[['Temperature (K)', 'Luminosity (L/Lo)']]
print(temps_lum.head())

   Temperature (K)  Luminosity (L/Lo)
0             3068           0.002400
1             3042           0.000500
2             2600           0.000300
3             2800           0.000200
4             1939           0.000138

In [10]:
temps = star_collection[(star_collection['Temperature (K)'] > 1000) & (star_collection['Radius (R/Ro)'] > 10)]
print(temps)

     Temperature (K)  Luminosity (L/Lo)  Radius (R/Ro)  \
30             39000           204000.0           10.6
40              3826           200000.0           19.0
41              3365           340000.0           23.0
42              3270           150000.0           88.0
43              3200           195000.0           17.0
..               ...                ...            ...
235            38940           374830.0         1356.0
236            30839           834042.0         1194.0
237             8829           537493.0         1423.0
238             9235           404940.0         1112.0
239            37882           294903.0         1783.0

     Absolute magnitude (Mv)  Star type  Star category Star color  \
30                     -4.70          3  Main Sequence       Blue
40                     -6.93          4     Supergiant        Red
41                     -6.20          4     Supergiant        Red
42                     -6.02          4     Supergiant        Red
43                     -7.22          4     Supergiant        Red
..                       ...        ...            ...        ...
235                    -9.93          5     Hypergiant       Blue
236                   -10.63          5     Hypergiant       Blue
237                   -10.73          5     Hypergiant      White
238                   -11.23          5     Hypergiant      White
239                    -7.80          5     Hypergiant       Blue

    Spectral Class
30               O
40               M
41               M
42               M
43               M
..             ...
235              O
236              O
237              A
238              A
239              O

[82 rows x 8 columns]

In [11]:
print(temps.sort_values(['Temperature (K)', 'Radius (R/Ro)'], ascending=[True, False]))

     Temperature (K)  Luminosity (L/Lo)  Radius (R/Ro)  \
44              3008           280000.0           25.0
43              3200           195000.0           17.0
42              3270           150000.0           88.0
41              3365           340000.0           23.0
113             3399           117000.0         1486.0
..               ...                ...            ...
239            37882           294903.0         1783.0
231            38234           272830.0         1356.0
235            38940           374830.0         1356.0
30             39000           204000.0           10.6
101            40000           813000.0           14.0

     Absolute magnitude (Mv)  Star type  Star category Star color  \
44                     -6.00          4     Supergiant        Red
43                     -7.22          4     Supergiant        Red
42                     -6.02          4     Supergiant        Red
41                     -6.20          4     Supergiant        Red
113                   -10.92          5     Hypergiant        Red
..                       ...        ...            ...        ...
239                    -7.80          5     Hypergiant       Blue
231                    -9.29          5     Hypergiant       Blue
235                    -9.93          5     Hypergiant       Blue
30                     -4.70          3  Main Sequence       Blue
101                    -6.23          4     Supergiant       Blue

    Spectral Class
44               M
43               M
42               M
41               M
113              M
..             ...
239              O
231              O
235              O
30               O
101              O

[82 rows x 8 columns]

In [12]:
print(max(temps['Temperature (K)']))

40000

In [13]:
custom = star_collection.groupby("Star type")['Star color']
print(custom)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022B2C1EBCB0>

In [14]:
custom.head()

0              Red
1              Red
2              Red
3              Red
4              Red
10             Red
11             Red
12             Red
13             Red
14             Red
20      Blue White
21           White
22           White
23           White
24      Blue White
30            Blue
31      Blue-white
32      Blue-white
33         Whitish
34    yellow-white
40             Red
41             Red
42             Red
43             Red
44             Red
50             Red
51             Red
52             Red
53          Orange
54             Red
Name: Star color, dtype: object

In [15]:
star_collection['Temperature (K)'].value_counts()

Temperature (K)
3600     3
2600     2
2650     2
3625     2
3450     2
        ..
38940    1
30839    1
8829     1
9235     1
37882    1
Name: count, Length: 228, dtype: int64

In [16]:
star_collection.drop_duplicates(subset="Temperature (K)")

,Temperature (K),Luminosity (L/Lo),Radius (R/Ro),Absolute magnitude (Mv),Star type,Star category,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Brown Dwarf,Red,M
1,3042,0.000500,0.1542,16.60,0,Brown Dwarf,Red,M
2,2600,0.000300,0.1020,18.70,0,Brown Dwarf,Red,M
3,2800,0.000200,0.1600,16.65,0,Brown Dwarf,Red,M
4,1939,0.000138,0.1030,20.06,0,Brown Dwarf,Red,M
...,...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Hypergiant,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Hypergiant,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,Hypergiant,White,A
238,9235,404940.000000,1112.0000,-11.23,5,Hypergiant,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Hypergiant,Blue,O